body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.todo-item{
    display: grid;
    grid-template-columns: 200px 200px 180px 50px 50px;
    text-align: center;
    place-items: center;
}
::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #fcfcfc;
}


::-webkit-scrollbar-thumb {
    background: #b4b4b4;
    border-radius: 5px;
}
.todo-container{
    overflow-y: auto;
    height: 350px;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.clickable{
    transition: 0.1s;
    font-size: 25px;
    cursor: pointer;
}

#complete:hover{
    color: lime;
}
#delete:hover{
    color: red;
}
#undo-complete:hover{
    color: #7bbbff;
}

#todo-create{
    width: 710px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 15px;
    flex-wrap: wrap;
    font-size: 18px;
}

#todo-create input:not(input[type='submit']){
    outline: none;
    border: none;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}
#todo-create input[type='submit'],button{
    flex-grow: 1;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
}


.try{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.try input{
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
}

.display-none{
    display:none;
}
.display{
    display: block;
}
.text-lg{
    font-size: 18px;
}
.text-md{
    font-size: 16px;
}

